.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.word-break-all {
    word-break: break-all;
}

.half-width {
    width: 50%;
}

.width-15 {
    width: 15%;
}

.width-90 {
    width: 90%;
}

textarea {
    resize:none;
}